*{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
border: border-box;
}
.navbar
{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo
{
height: 50px;
width: 100px;

}
.logo
{
background-image: url(./amazon.jpg);
background-size: cover;
height: 50px;
width: 100%;


}
.border
{
border: 1.7px solid transparent;

}
.border:hover
{
    border: 1.7px solid white;
}
.add-first
{
    color: #cccccc;
    font-size: 0.775rem;
    margin-left: 15px;
}
.add-second
{
font-size: 1rem;
margin-left: 3px;
}
.add-icon
{
    display: flex;
    align-items: center;
}
.nav-search
{
    display: flex;
    background-color:brown;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;

}

.search-select
{
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input
{
width: 100%;
font-size: 1rem;
border: 0;

}
.search-icon
{
    height: 40px;
    width: 45px;
    display: flex;
   justify-content: center;
   align-items: center;
    font-size: 1.3rem;
   background-color: rgba(255, 200, 0, 0.781);
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   color: #0f1111;

}

.nav-first
{
font-size: 0.7rem;
}
.nav-second
{
font-size: 0.85rem;
font-weight: 700;

}
.nav-search:hover
{
border: 2px solid orange;

}
.cart-icon i
{
    font-size: 30px;
}
.cart-icon
{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel
{
    height: 40px;
    background-color: #222f3d;
    color:white ;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   
}
.panel-ops p
{
    display: inline;
    margin-left: 15px;
    
    
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals
{
    font-size: 0.9rem;
    font-weight: 700;
}
