body{
    text-align: center;
    background-color: #A7C4C2;
}

.container
{
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
.game
{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box
{
    height: 18vmin;
    width: 18vmin;
    border: none;
    background-color: #6A0F49;
    box-shadow: 0 0 1rem rgba(0,0, 0, 0.3);
    border-radius: 1rem;
    font-size: 7vmin;
    color: #97EFE9;
    transition: all 0.8;
}
.box:hover
{
    height: 19vmin;
    width: 19vmin;
    border: none;
    background-color: #6A0F49;
    box-shadow: 0 0 2rem 0.4rem rgba(0,0, 0, 0.3);
    border-radius: 1rem;
    font-size: 7vmin;
    color: #97EFE9;
}
.box:active
{
    height: 19vmin;
    width: 19vmin;
    border: none;
    background-color: rgba(8, 54, 56, 0.699);
    box-shadow: 0 0 2rem 0.4rem rgba(0,0, 0, 0.3);
    border-radius: 1rem;
    font-size: 7vmin;
    color: #97EFE9;
}
#reset
{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #2E0219;
    color: #A7C4C2;
    border-radius: 1rem;
    border: none;
}
#new
{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #2E0219;
    color: #A7C4C2;
    border-radius: 1rem;
    border: none;
}
#msg
{
    background-color: #6A0F49;
    font-size: 7vmin;
    color: #97EFE9;
    text-shadow: 0px 0px 30px 100px black;
    /* text-align: center; */
}
.msgcont
{
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide
{
    display: none;
}